:8080 {
  root * /app/public
  file_server

  handle {
    root * /app/public
    rewrite * /index.php
    reverse_proxy localhost:9000 { 
      transport fastcgi {
        split .php
        capture_stderr
      }
    }
  }
}
